<div class="row mb-4" *ngIf="member">
  <div class="col-2 mb-1" *ngFor="let photo of member.photos">
    <img
      src="{{ photo.url }}"
      alt="photo of {{ member.userName }}"
      class="img-thumbnail mb-1"
    />
    <div class="test-center">
      <button
        class="btn btn-sm m-1"
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
      >
        Main
      </button>
      <button
        class="btn btn-sm btn-danger m-1"
        [disabled]="photo.isMain"
        (click)="deletePhoto(photo)"
        [ngClass]="photo.isMain ? 'active' : ''"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
