<div class="card">
  <div class="card-body">
    <div *ngIf="(messageService.messagesThread$ | async)?.length === 0">
      No Messages yet . . .
    </div>

    <ul
      *ngIf="(messageService.messagesThread$ | async)?.length > 0"
      class="chat"
    >
      <li *ngFor="let message of messageService.messagesThread$ | async">
        <div>
          <span class="chat-img float-end">
            <img
              src="{{ message.senderPhotoUrl || '/assets/user.png' }}"
              alt="{{ message.senderUserName }}"
              class="rounded-circle"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{
                  message.messageSent | timeago
                }}</span>
                <span
                  class="text-danger"
                  *ngIf="
                    !message.dateRead && message.senderUserName !== username
                  "
                >
                  (unread)</span
                >
                <span
                  class="text-success"
                  *ngIf="
                    message.dateRead && message.senderUserName !== username
                  "
                >
                  (read {{ message.dateRead | timeago }})</span
                >
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="addMessage()" autocomplete="off">
      <div class="input-group">
        <input
          name="messageContent"
          required
          type="text"
          class="form-control input-sm"
          placeholder="Type your message here"
          [(ngModel)]="messageContent"
        />

        <div class="input-group-append mx-1">
          <button
            class="btn btn-primary"
            [disabled]="!messageForm.valid"
            type="submit"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
