<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <!-- here too -->
    <p>{{ description }}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="w-25 btn btn-secondary" (click)="handleCancel()">
    {{ cancelButtonName }}
  </button>
  <button type="button" class="w-25 btn btn-primary" (click)="handleConfirm()">
    {{ confirmButtonName }}
  </button>
</div>
